<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Страница не найдена</title>
<style type="text/css">
h1 { font-size: 300%; padding: 0; margin: 0; }
table { width: 50%; margin: 0 auto; border: 0; border-collapse: collapse; }
table tr td { vertical-align: top; }
table tr td.c { text-align: center; }
</style>
</head>

<body>
	<table>
		<tr>
			<td class="c"><h1>404</h1><sup><a href="http://ru.wikipedia.org/wiki/%D0%9E%D1%88%D0%B8%D0%B1%D0%BA%D0%B0_404">Что это?</a></sup></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td>
				<p>Страница, которую Вы запросили, не найдена.</p>
				<p>Вероятно, Вы ошиблись при вводе адреса, проверьте его еще раз.</p>
				<p>Если Вы считаете, что это наша ошибка, <a href="">напишите нам</a>, не забыв указать, адрес этой страницы и страницы, с которой Вы сюда попали.</p>
				<p><a href='/'>На главную</a></p>
			</td>
		</tr>
	</table>
</body>
</html>
